<% if (theme.donate) { %>
  <div class="money-like">
    <div class="reward-btn">
      赏
      <span class="money-code">
        <span class="alipay-code">
          <div class="code-image" background-image=theme.donate.alipay></div>
          <b>使用支付宝打赏</b>
        </span>
        <span class="wechat-code">
          <div class="code-image" background-image=theme.donate.wechat></div>
          <b>使用微信打赏</b>
        </span>
      </span>
    </div>
    <p class="notice">若你觉得我的文章对你有帮助，欢迎点击上方按钮对我打赏</p>
  </div>
<% } %>